* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif
}

.mySlides {
    display: none
}

.navbar {
    display: flex;
    position: sticky;
    cursor: pointer;
    top: 0;
    align-items: center;
    justify-content: center;
}

.nav-list {
    align-items: center;
    width: 70%;
    display: flex;
}

.background {
    background-size: cover;
    background: black;
    background-blend-mode: darken;
}

.logo {
    display: inline-block;
    height: inherit;
    position: absolute;
    margin: 0;
    padding: 0;
    line-height: inherit;
    left: 1.25rem;
}

.logo a {
    color: #FFF;
    font-size: 1.25rem;
    text-decoration: none;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.rightnav {
    width: 30%;
    text-align: right;
}

.firstsection {
    background-color: rgb(136, 127, 113);
    height: 400px;
}

.secondsection {
    background-color: rgb(243, 239, 212);
    height: 2000px;
}

.thirdsection {
    background-color: rgb(192, 221, 198);
    height: 2700px;
}

.fourthsection {
    background-color: rgb(204, 239, 247);
    height: 2700px;
}

.box-main {
    height: 80%;
    max-width: 95%;
    margin: auto;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.firsthalf {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.secondhalf {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.text-small {
    font-size: 18px;
    text-align: center;
    width: 90%;
}

.text-small>svg {
    margin: 10px;
    padding: 20px;
}

.section {
    height: 400px;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
}

.section-Left {
    flex-direction: row-reverse;
}

.center {
    text-align: center;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.left_graph {
    width: 48%;
    float: left;
}

.right_graph {
    width: 48%;
    float: right;
}

.line {
    stroke-width: 2.5;
    fill: none;
    clip-path: url(#clip);
}

.mainDeath {
    stroke-width: 2.5;
    fill: none;
    stroke: rgb(188, 33, 33);
}

.mainVacc {
    stroke-width: 2.5;
    fill: none;
    stroke: rgb(56, 184, 107);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

#unvaxed_line {
    stroke: rgb(188, 33, 33);
}

#primary_series_only_line {
    stroke: steelblue;
}

#boosted_line {
    stroke: rgb(0, 102, 29);
}

.graph_title {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.vaccination_axis--x {
    font-family: 'Piazzolla', serif;
    font-size: 15px;
    text-align: center;
}

.vaccination_axis--y {
    font-family: 'Piazzolla', serif;
    font-size: 13px;
    text-align: center;
}

#vaccination_visual {
    height: 600px;
    width: 100%;
}

#vaccination_bar>g>rect:first-of-type {
    fill: rgb(188, 33, 33);
}

#vaccination_bar>g>rect:nth-of-type(2) {
    fill: steelblue;
}

#vaccination_bar>g>rect:nth-of-type(3) {
    fill: rgb(0, 102, 29);
}

#main_visual_div {
    margin-top: 20px;
}

#usamap {
    margin: 0 auto;
    display: block;
}

.white {
    fill: white;
    stroke: white;
    stroke-width: 0.5px;
}

.cool_button {
    border-radius: 40px;
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    font-size: 15px;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 200px;
}

.cool_button_red {
    background-image: linear-gradient(to right, #ffd6d6 0%, #ff4747 100%);
    color: #ffa4a4;
}

.cool_button_green {
    background-image: linear-gradient(to right, #C5E8B7 0%, #2EB62C 100%);
    color: #8ff98e;
}

.cool_button_white {
    background-image: linear-gradient(to right, #737373 0%, darkgrey 100%);
    color: rgb(231, 229, 229);
}

.cool_button:hover {
    color: #fff;
}

.cool_button_span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

.cool_button:hover .cool_button_span {
    background: transparent;
}
